div {
    display: block;
    unicode-bidi: isolate;
}
@-ms-keyframes guideDownloadAni01 {
	0%   { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	20%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	30%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	80%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	85%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	100% { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
}
@-moz-keyframes guideDownloadAni01 {
	0%   { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	20%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	30%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	80%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	85%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	100% { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
}
@-webkit-keyframes guideDownloadAni01 {
	0%   { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	20%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	30%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	80%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	85%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	100% { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
}
@keyframes guideDownloadAni01 {
	0%   { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	20%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	30%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	80%  { -ms-transform:scale(1); -moz-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); opacity:1; }
	85%  { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
	100% { -ms-transform:scale(0.95); -moz-transform:scale(0.95); -webkit-transform:scale(0.95); transform:scale(0.95); opacity:0; }
}

@-ms-keyframes guideDownloadAni02 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	40%  { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	50%  { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	58%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@-moz-keyframes guideDownloadAni02 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	40%  { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	50%  { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	58%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@-webkit-keyframes guideDownloadAni02 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	40%  { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	50%  { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	58%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@keyframes guideDownloadAni02 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	40%  { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	50%  { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	58%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}

@-ms-keyframes guideDownloadAni03-1 {
	0%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	5%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	20%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:1;}
	22%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:0;}
	25%  { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
	100% { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
}
@-moz-keyframes guideDownloadAni03-1 {
	0%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	5%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	20%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:1;}
	22%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:0;}
	25%  { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
	100% { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
}
@-webkit-keyframes guideDownloadAni03-1 {
	0%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	5%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	20%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:1;}
	22%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:0;}
	25%  { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
	100% { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
}
@keyframes guideDownloadAni03-1 {
	0%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	5%   { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
	20%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:1;}
	22%  { -ms-transform: translate3d(7px,0,0); -moz-transform: translate3d(7px,0,0); -webkit-transform: translate3d(7px,0,0); transform: translate3d(7px,0,0); opacity:0;}
	25%  { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
	100% { -ms-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);opacity:0;}
}
@-ms-keyframes guideDownloadAni03-2 {
	0%   { opacity:0; }
	15%  { opacity:0; }
	17%  { opacity:1; }
	50%  { opacity:1; }
	60%  { opacity:1; }
	100% { opacity:1; }
}
@-moz-keyframes guideDownloadAni03-2 {
	0%   { opacity:0; }
	15%  { opacity:0; }
	17%  { opacity:1; }
	50%  { opacity:1; }
	60%  { opacity:1; }
	100% { opacity:1; }
}
@-webkit-keyframes guideDownloadAni03-2 {
	0%   { opacity:0; }
	15%  { opacity:0; }
	17%  { opacity:1; }
	50%  { opacity:1; }
	60%  { opacity:1; }
	100% { opacity:1; }
}
@keyframes guideDownloadAni03-2 {
	0%   { opacity:0; }
	15%  { opacity:0; }
	17%  { opacity:1; }
	50%  { opacity:1; }
	60%  { opacity:1; }
	100% { opacity:1; }
}

@-ms-keyframes guideDownloadAni03-3 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	5%   { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	13%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@-moz-keyframes guideDownloadAni03-3 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	5%   { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	13%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@-webkit-keyframes guideDownloadAni03-3 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	5%   { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	13%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}
@keyframes guideDownloadAni03-3 {
	0%   { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
	5%   { -ms-transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); transform: scale(1); opacity:0.04; }
	13%  { -ms-transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); transform: scale(1.2); opacity:0; }
	100% { -ms-transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transform: scale(0); opacity:0; }
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black;
    line-height: 1.46;
    background: rgb(252, 252, 252);
    position: relative;
    padding: 70px 0 0 0;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
}

a{
    font-size: 15px;
    color:#000000;
    line-height: 1.46;
    text-decoration: none;

}


h1,
h2,
h3,
h4,
h5,
h6,
form,
div,
p,
em,
img,
table,
tr,
td,
fieldset,
label,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
    border: 0;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    display: table;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 101;
}

#header .header-co {
    padding: 20px;
}

#header .header-co .header-co-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

#header .header-co .header-co-inner .header-co-inner-left {
    float: none;
    height: 30px;
}

.header-img {
    position: relative;
    padding: 0 30px 0 104px;
    height: 30px;
    float: none;
}

.header-img .img {
    position: absolute;
    left: 0;
    top: 5px;
    display: inline-block;
    width: 104px;
    vertical-align: top;
}

.header-co-inner-left span {
    font-size: 17px;
    color: #010101;
    line-height: 30px;
    width: 60%;

    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header-co-inner-left .arrow {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 0 0;
    float: left;
    width: 15px;
    height: 34px;
    background-position: 0px -80px;
}

#container {
    width: 100%;
    padding-bottom: 25px;
}

.crepass-download-info {
    margin: 0 20px;
}

.mb35 {
    margin-bottom: 35px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.crepass-download-info-img-header {
    margin: 0 0 20px 0;
}

.crepass-download-info-img-inner {
    position: relative;
    text-align: center;
}

.crepass-download-info-img-inner img {
    vertical-align: top;
    width: 180px;
    height: 163px;
}

.crepass-download-info-txt-group {
    margin: 0 0 20px 0;
}

.crepass-download-info-txt {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.crepass-download-info-btn {
    margin: 0;
}

.crepass-download-info-btn ul {
    text-align: center;
    display: block;
}

.crepass-download-info-btn ul li:first-of-type {
    padding-top: 0;
}

.crepass-download-info-btn ul li {
    margin: 0;
    display: block;
}

.crepass-download-info-btn ul li .btn {
    min-width: 195px;
}

.btn-download {

    color:#ffffff;
    border-color:dodgerblue;
    background: dodgerblue;
}
.btn{
    padding: 11px 28px 11px 28px;
    min-width: 140px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    border: 1px solid #1e90ff;
    display: inline-block;
    border-radius: 23px;
    box-sizing: border-box;
}


.crepass-download-guide{
    margin: 0 20px;
}
.crepass-download-guide-box{
    background-color: #f7f7f8;
    border-radius: 15px;
    padding: 20px 20px;
}

.crepass-download-guide-title{
    font-size: 15px;
    text-align: center;
}
.crepass-download-guide-box ol{
  margin: 5px 0 0 0;
}
.crepass-download-guide-box ol li{
    margin: 0 0 0 25px;
    text-indent: -25px;
    color:#000000;
    font-size: 12px;
    padding: 15px 0 0 0;
    line-height: 17px;
  }
  .crepass-download-guide-box ol li i{
   margin-right: 4px;
   vertical-align: top;

  }

  .icon, .formcheckbox .formcheckbox-wrap label:before, .formcheckbox .formcheckbox-wrap label:after, .formradiobox .formradiobox-wrap label:before, .formradiobox .formradiobox-wrap label:after, .formcheckFullbox .formcheckbox-wrap label span:before, .formcheckFullbox .formcheckbox-wrap label span:after, .listgroup-info-list.link li a.listgroup-info-link:before, .popupgroup-box .popupgroup-co-filterlist ul li a.filterlist-item.selected span:before, .popup-datepicker-wrap #ui-datepicker-div .ui-datepicker-header .ui-corner-all span, .listgroup-alarm .listgroup-alarm-item .listgroup-alarm-inner.listgroup-alarm-open:before, .payment-state-header-wrap:before, .formselectbox .formselectbox-inner:after, .cashtable-sort-wrap .formselectbox .formselectbox-inner:after {
    position: relative;
    width: 15px;
    height: 15px;
    font-size: 0;
    color: transparent;
    line-height: 0;
    text-indent: -999999px;
    vertical-align: middle;
    background: url(../img/number.png) no-repeat 0px 0px;
    display: inline-block;
    -ms-background-size:76px 76px;
    -moz-background-size: 76px 76px;
    -webkit-background-size: 76px 76px;
    background-size: 76px 76px;
}

.icon-guide-num-1 {
    width: 17px;
    height: 17px;
    background-position: -1px 0px;
}
.icon-guide-num-2 {
    width: 17px;
    height: 17px;
    background-position: -20px 0px;
}

.icon-guide-num-3 {
    width: 17px;
    height: 17px;
    background-position: -39px 0px;
}

.icon-guide-num-4 {
    width: 17px;
    height: 17px;
    background-position: -1px -23px;
}

.crepass-guide-setup{
    margin: 0 20px;
}
.crepass-guide-setup-title{
    font-size: 15px;
    padding: 50px 0 11px 0 ;
    text-align: center;
}
.crepass-guide-setup-inner{
    display: table;
    width: 100%;
    border-bottom: 1px solid #ececec;
}
.crepass-guide-setup-inner-left{
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 10px;
}
.crepass-guide-setup-inner-left strong{
    display: block;
    margin: 0 0 6px 0;
}
strong{
    font-weight: normal;
}

.crepass-guide-setup-inner-left span{
    font-size: 12px;
    color: #8c8c8c;
    line-height: 18px;
}


.crepass-guide-setup-inner-right{
    display: table-cell;
    vertical-align: middle;
    width: 135px;
}

.footer{
    padding:30px 0 0;
}
.footer span{
    margin:0 auto;
    width: 90px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    background: url(../img/ppcbank-logo.png) no-repeat 0px 0px;
    background-size: 90px 20px;
    display: block;
}


.crepass-guide-setup-inner-right div{
  position: relative;
  width: 124px;
}
.crepass-guide-setup-inner-right div img{
    width: 90%;
    height: 161px;
    margin-left: 10px;
}

.crepass-guide-setup-step1 em{
    opacity: 0;
    transform-origin: 64px 125px;
    animation:guideDownloadAni01 4s ease-in infinite;
}

.crepass-guide-setup-step2 em{
    opacity: 0;
    -ms-transform-origin: 64px 125px;
    -moz-transform-origin: 64px 125px;
    -webkit-transform-origin: 64px 125px;
    transform-origin: 64px 125px;
    -ms-animation: guideDownloadAni01 4s ease-in 0.5s infinite;
    -moz-animation: guideDownloadAni01 4s ease-in 0.5s infinite;
    -webkit-animation: guideDownloadAni01 4s ease-in 0.5s infinite;
    animation: guideDownloadAni01 4s ease-in 0.5s infinite;

}
.crepass-guide-setup-step3 em{
    opacity: 0;
    -ms-transform-origin: 64px 125px;
    -moz-transform-origin: 64px 125px;
    -webkit-transform-origin: 64px 125px;
    transform-origin: 64px 125px;
    -ms-animation: guideDownloadAni01 4s ease-in 1s infinite;
    -moz-animation: guideDownloadAni01 4s ease-in 1s infinite;
    -webkit-animation: guideDownloadAni01 4s ease-in 1s infinite;
    animation: guideDownloadAni01 4s ease-in 1s infinite;

}


.crepass-guide-setup-inner-right em{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.crepass-guide-setup-step4 .em1{
    position: absolute;
    width: 28.229%;
    height: 20.71%;
    left: 21.29%;
    top: 56.254%;
    background: #000000;
    opacity: 0;
    display: block;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -ms-transform-origin: center center;
    -moz-transform-origin: center center;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -ms-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -ms-animation: guideDownloadAni03-3 2s linear infinite;
    -moz-animation: guideDownloadAni03-3 2s linear infinite;
    -webkit-animation: guideDownloadAni03-3 2s linear infinite;
    animation: guideDownloadAni03-3 2s ease-in-out infinite;
}

.crepass-guide-setup-inner-right span{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.crepass-guide-setup-inner-right span img{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.crepass-guide-setup-inner-right span{
    position: relative;
    width: 86%;
    height: 96%;
    display: block;
}
.step4_img2{
    -ms-animation: guideDownloadAni03-1 2s ease-in-out infinite;
    -moz-animation: guideDownloadAni03-1 2s ease-in-out infinite;
    -webkit-animation: guideDownloadAni03-1 2s ease-in-out infinite;
    animation: guideDownloadAni03-1 2s ease-in-out infinite;
}

.step4_img3{
opacity: 0;
    -ms-animation: guideDownloadAni03-2 2s ease-in-out infinite;
    -moz-animation: guideDownloadAni03-2 2s ease-in-out infinite;
    -webkit-animation: guideDownloadAni03-2 2s ease-in-out infinite;
    animation: guideDownloadAni03-2 2s ease-in-out infinite;
}
.step4_img4{
opacity: 0;
-ms-animation: guideDownloadAni03-2 2s ease-in-out infinite;
-moz-animation: guideDownloadAni03-2 2s ease-in-out infinite;
-webkit-animation: guideDownloadAni03-2 2s ease-in-out infinite;
animation: guideDownloadAni03-2 2s ease-in-out infinite;
}

#languageSelect{
    position: absolute;
    display:inline-block;
    vertical-align: top;
    right: 0;
    top: 0;
    border: 2px solid #1e90ff; /* 테두리 색상 설정 */
    border-radius: 5px; /* 테두리 모서리를 둥글게 */
    padding: 5px 10px; /* 안쪽 여백 추가 */
    outline: none; /* 클릭 시 나타나는 기본 외곽선 제거 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: all 0.3s ease; /* 부드러운 색상 및 테두리 변화 */
}

